@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-international-orange-50: #fef5ee;
  --color-international-orange-100: #fee8d6;
  --color-international-orange-200: #fcccac;
  --color-international-orange-300: #f9a878;
  --color-international-orange-400: #f67a41;
  --color-international-orange-500: #f35b22;
  --color-international-orange-600: #e43d12;
  --color-international-orange-700: #bd2b11;
  --color-international-orange-800: #962416;
  --color-international-orange-900: #792015;
  --color-international-orange-950: #410d09;

  --color-tapa-50: #f6f6f5;
  --color-tapa-100: #e7e7e6;
  --color-tapa-200: #d1d1d0;
  --color-tapa-300: #b1b1af;
  --color-tapa-400: #898987;
  --color-tapa-500: #727370;
  --color-tapa-600: #5e5e5c;
  --color-tapa-700: #50504e;
  --color-tapa-800: #454644;
  --color-tapa-900: #3d3d3c;
  --color-tapa-950: #262626;
}
